{% extends "template.html" %}
{% block content %}
	<div style="background-color: #3776ab">
		<div class="container">
			<div class="jumbotron" style="background-color: inherit;">
				<h1 style="font-size: 48px;">Welcome to CSIPy !</h1>
				<p>
					The introductory Python workshop, conducted for the CSI-SASTRA Chapter.
					Supported by <a href="https://www.campushash.com/" style="color:#73D216; text-decoration: none">CampusHash</a>, the official workshop partners of PyCon India 2014, as part of <a href="https://pythonexpress.in" style="color:#73D216; text-decoration: none">Python Express</a>.
					Follow the links on the navigation bar to continue.
				</p>
			</div>
		</div>
	</div>
{% endblock %}