{% extends "template.html" %}
{% block content %}
	<div class="page-header">
	  <h1>Prepare <small>What should you do before the workshop ?</small></h1>
	</div>
	<div style="font-size:16px">
		<div>
			<p>
				<a href="https://www.python.org/downloads/" style="color:#3776ab; text-decoration: none">Install Python.</a> If you're running Ubuntu (I'm not sure about other Linux distros), you will have Python built in. If you're running Windows, follow the link and install Python. You will have a choice of version that you can install (2.7 or 3.4). The differences between the two and the pros and cons of each is a whole different talk. Go with 2.7.8 for now. I'll give you a rundown on a few differences during the workshop. Also, if you can, have the Windows installer file on a pen drive. There may be someone else at the workshop who might need it.
			</p>
		</div>
		<div>
			<p>
				Once you register, you will be added to a mailing list. I'll intimate you of anything regarding the workshop through the mailing list.
			</p>
		</div>
		<div>
			<p>
				We'll have a few exercises during the workshop. I'll intimate you once the link to the exercises is out. Have the zip file with you during the workshop.  
			</p>
		</div>
		<div>
			<p>
				Looking forward to seeing you there !
			</p>
		</div>
	</div>

{% endblock %}